---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/posts";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="w-full mb-10 md:pb-0 md:w-1/2 lg:w-1/3 mx-4 bg-white border border-gray-200 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">
  <a href={`/post/${post.slug.current}`}>
    {
        post.mainImage ? (
      <img class="rounded-t-lg" src={urlFor(post.mainImage).width(500).height(300).url()} alt={post.title} />
    )
      : 
      (
          <div class="max-w-3xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
    }
  <div class="p-5">
   
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {post.title}</h5>
      
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {post.excerpt}</p>
   
      
  </div>
  </a>
</div>

